@import "../bower_components/astromo-styles/astromo/colors";

// Set foundation settings
$font-family-sans-serif: "Open Sans", Helvetica, Roboto, Arial, sans-serif;

$header-font-family: 'Gill Sans', 'Open Sans', sans-serif;
$header-font-weight: lighter;
$header-color: $darker-slate;

$body-font-family: $font-family-sans-serif;
$body-font-color: $grey;
$body-antialiased: false;

$grid-row-width: 100%;
$list-side-margin: 0; // 1.1rem;
