@import "mixins";
@import "settings";
@import "../bower_components/astromo-styles/astromo";

body {
  -webkit-font-smoothing: antialiased;
}

nav {
  $nav-height: 65px;

  color: #fff;

  position: fixed;
  height: $nav-height;

  z-index: 200;

  .astromo__logo {
    float: left;

    margin-left: 30px;
    width: 130px;

    @include center-transform;
  }

  ul.menu__items {
    float: right;
    display: block;
    margin: 0;
    margin-right: 15px;

    height: $nav-height;

    list-style-type: none;

    li {
      font-size: 14px;
      display: inline-block;

      > a {
        color: #fff;
        padding: 21.5px 16px;
        display: block;
      }
    }
  }
}

.astromo__header {
  color: #fff;
  position: relative;
  height: 512px;

  text-align: center;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  .header__hero {
    position: relative;
    margin: 0 auto;

    top: 41%;

    left: 50%;
    transform: translateX(-50%);

    .hero__title { font-size: 32px; }

    .hero__subtitle {
      font-size: 21px;
      font-family: $font-family-sans-serif;
    }

    .hero__title, .hero__subtitle {
      margin-top: 0;
      color: inherit;
    }
  }

  .call-to-action {
    transform: translateX(-50%);
    left: 50%;

    position: absolute;
    bottom: 115px;
    margin-bottom: 0;
  }

}