@import "mixins";
@import "settings";
@import "../bower_components/astromo-styles/astromo";

body {
  -webkit-font-smoothing: antialiased;
}

nav {
  $nav-height: 65px;

  color: #fff;

  position: fixed;
  height: $nav-height;

  z-index: 200;

  .astromo__logo {
    float: left;

    margin-left: 30px;
    width: 130px;

    @include center-transform;
  }

  ul.menu__items {
    float: right;
    display: none;
    margin: 0;
    margin-right: 15px;

    height: $nav-height;

    list-style-type: none;

    li {
      font-size: 14px;
      display: inline-block;

      > a {
        color: #fff;
        padding: 21.5px 16px;
        display: block;
      }
    }

    @media #{$medium-up} {
      display: block;
    }
  }
}

.astromo__header {
  color: #fff;
  position: relative;
  height: 70vh;

  overflow: hidden;

  text-align: center;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  .header__hero {
    position: relative;
    margin: 0 auto;

    @include center-transform;

    .hero__title { font-size: 32px; }

    .hero__subtitle {
      font-size: 21px;
      font-family: $font-family-sans-serif;
    }

    .hero__title, .hero__subtitle {
      margin-top: 0;
      color: inherit;
    }

    @media #{$small-only} {
      margin-top: 20px;
    }
  }

  .call-to-action {
    margin-top: 70px;

    @media #{$small-only} {
      margin-top: 20px;
    }
  }

}

section {
  padding: 66px 33px;
  background-color: $white;

  @media #{$large-up} {
    padding-bottom: 0;
  }

  &.center {
    text-align: center;
  }

  &.normal {
    @media #{$large-up} {
      padding-left: 0;
    }

    @media #{$small-up} {
      .columns.img {
        margin-top: 33px;
      }
    }

    @media #{$large-up} {
      .columns.img {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  &.alternate {
    //color: $almost-white;
    //background-color: $almost-black;

    // h1, h2 {
    //   color: $white;
    // }

    @media #{$large-up} {
      padding-right: 0;
    }

    @media #{$small-up} {
      .columns.img {
        margin-top: 33px;
      }
    }

    @media #{$large-up} {
      .columns.img {
        margin-top: 0;
        padding-right: 0;
      }
    }
  }

  &.process {
    padding-bottom: 66px;

    // background-color: $almost-white;
    //border-bottom: 1px solid $almost-white;

    p { max-width: 400px; margin: 0 auto; }

    i {
      $radius: 120px;
      margin: 0 auto 30px auto;

      display: block;
      height: $radius;
      width: $radius;
      line-height: $radius;
      border-radius: 50%;

      font-size: 50px;

      color: #fff;
      background-color: $green;

      overflow: hidden;

      &::before {
        // http://sandbox.juan-i.com/longshadows/
        text-shadow:
          rgb(22, 169, 140) 1px 1px,
          rgb(22, 169, 140) 2px 2px,
          rgb(22, 169, 140) 3px 3px,
          rgb(22, 169, 140) 4px 4px,
          rgb(22, 169, 140) 5px 5px,
          rgb(22, 169, 140) 6px 6px,
          rgb(22, 169, 140) 7px 7px,
          rgb(22, 169, 140) 8px 8px,
          rgb(22, 169, 140) 9px 9px,
          rgb(22, 169, 140) 10px 10px,
          rgb(22, 169, 140) 11px 11px,
          rgb(22, 170, 140) 12px 12px,
          rgb(22, 171, 141) 13px 13px,
          rgb(22, 172, 142) 14px 14px,
          rgb(22, 173, 143) 15px 15px,
          rgb(22, 174, 144) 16px 16px,
          rgb(22, 175, 145) 17px 17px,
          rgb(22, 176, 146) 18px 18px,
          rgb(22, 177, 147) 19px 19px,
          rgb(23, 179, 148) 20px 20px,
          rgb(23, 180, 149) 21px 21px,
          rgb(23, 181, 150) 22px 22px,
          rgb(23, 182, 151) 23px 23px,
          rgb(23, 183, 152) 24px 24px,
          rgb(23, 184, 153) 25px 25px,
          rgb(23, 185, 154) 26px 26px,
          rgb(23, 186, 155) 27px 27px,
          rgb(24, 188, 156) 28px 28px;
      }
    }

    .trails {
      margin: 0 auto;
      max-width: 80%;

      .trail {
        margin-top: 80px;

        h1:after {
          content: " ";
          border: solid 2px $green;
          display: block;
          width: 35px;
          margin: 25px auto;
        }
      }
    }
  }

  img {
    display: block;

    width: 100%;
    height: auto;
  }

  h1 {
    font-size: rem-calc(24);
  }
}