body {
  -webkit-font-smoothing: antialiased; }

nav {
  color: #fff;
  position: fixed;
  height: 65px;
  z-index: 200; }
  nav .astromo__logo {
    float: left;
    margin-left: 30px;
    width: 130px;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%); }
  nav ul.menu__items {
    float: right;
    display: block;
    margin: 0;
    height: 65px;
    list-style-type: none; }
    nav ul.menu__items li {
      font-size: 14px;
      display: inline-block; }
      nav ul.menu__items li > a {
        color: #fff;
        padding: 21.5px 16px;
        display: block; }

.astromo__header {
  color: #fff;
  position: relative;
  height: 512px;
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .astromo__header .header__hero {
    position: relative;
    margin: 0 auto;
    top: 41%;
    left: 50%;
    transform: translateX(-50%); }
    .astromo__header .header__hero .hero__title {
      font-size: 32px; }
    .astromo__header .header__hero .hero__subtitle {
      font-size: 21px;
      font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif; }
    .astromo__header .header__hero .hero__title, .astromo__header .header__hero .hero__subtitle {
      margin-top: 0;
      color: inherit; }
  .astromo__header .call-to-action {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 115px;
    margin-bottom: 0; }
